.form-title {
    font-size: 15px;
    line-height: 27px;
    margin: 0 0 20px;
}

.save-btn {
    float: right;
}

.validation-message {
    padding: 20px 25px;
    margin: 20px 0;
    font-size: 12px;
    line-height: 15px;
    background: #F2DEDE;
    border: 1px solid #EBCCCC;
    border-radius: 4px;
    color: #A94442;
    animation: slide-down 0.3s ease;
}

@keyframes slide-down {
    from {
        height: 0;
        padding: 0 25px;
    }

    to {
        height: 100%;
        padding: 20px 25px;
    }
}

.description {
    font-size: 10px;
    line-height: 1.5;
    padding-bottom: 20px;
    border-bottom: 1px solid #E5E5E5;
    margin: 20px 0;

    &::before {
        content: attr(title) ": ";
        text-transform: uppercase;
        color: #BFBFBF;
    }
}

.input-constructors {
    width: 100%;
    border-spacing: 14px;
    font-size: 12px;
    text-align: left;
    margin: -14px -14px 0;

    @media (max-device-width: 768px) {
        margin: 0;
        border-spacing: 0;

        & thead,
        & tbody,
        & td,
        & tr {
            display: block;
        }
    }
}

.table-header {
    &::before {
        display: table-cell;
        content: '';
        width: 12px;
    }
}

.colHeading {
    font-weight: normal;
    font-size: 10px;
    text-transform: uppercase;

    @media (max-device-width: 768px) {
        display: none;
    }
}
