.module {
    vertical-align: top;

    &::before {
        display: table-cell;
        content: '';
        width: 12px;
        height: 24px;
        background: svg("sortable", "[fill]: #DADADA") 0 0 no-repeat;
    }
}

.col-name {
    width: 50%;
}

.col-choices {
    width: 25%;
}

.col-required {
    font-size: 0;
}

.field-required {
    &::after {
        content: ' *';
        color: #FF0000;
    }
}

.remove {
    composes: pseudo-link from '../composable/index.css';
    color: #FF8CA0;
    font-size: 10px;
    line-height: 1;
}
