.option {
    display: flex;
}

.select-option {
    composes: option;
    border-left: 1px solid #CCCCCC;
    padding-left: 15px;
}

.name {
    flex-grow: 1;
    font-size: 10px;
    line-height: 14px;
    color: #BFBFBF;
}

.add-option {
    composes: pseudo-link from '../composable/index.css';
    color: #BEC4EA;
    font-size: 10px;
    line-height: 1;
}
