@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

:global html,
:global body,
:global #app {
    height: 100%;
}

:global body {
    background: #FDFDFD;
}

.module {
    display: flex;
    min-height: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #4F4F4F;
    border: 1px solid #E5E5E5;
}

.aside {
    flex-basis: 400px;
    flex-shrink: 0;
    background: #FFFFFF;
    border-right: 1px solid #E5E5E5;
}

.main {
    position: relative;
    flex-grow: 1;

    /*    gray spacing + inner spacing */
    padding: 70px 100px 0;
    box-sizing: border-box;

    /*    css-modules does not allow to compose pseudoelements… Great! */
    &::after {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -2;
        background: #FAFAFA;
    }

    &::before {
        position: absolute;
        content: '';
        display: block;
        background: #FFFFFF;

        /*        gray spacing */
        top: 55px;
        right: 50px;
        bottom: 0;
        left: 50px;
        z-index: -1;
        border: 1px solid #E5E5E5;
        border-bottom: none;
    }
}
